/* Page.css */

.page-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .form-group  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }

  .form-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 2px 2px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .results-container {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }

  .results-container {
    max-width: 100%;
    overflow-x: auto;
  }
  
  
  .frames-table {
    width:20px;
  }
  
  .frame-cell {
    padding: 10px;
  }
  
  .frame-info {
    padding: 5px;
    font-size: medium;
    border: 1px solid #ddd;
  }
  
  .page-table {
    width: 20px;
  }
  
  .page-row {
    border-bottom: 1px solid #ddd;
  }
  
  .page-cell {
    padding: 5px;
  }
  
  .page-element {
    margin-right: 5px;
  }
  
  /* Add Flexbox properties */
  .results-container .frame-info {
    display: flex;
    flex-wrap: wrap; /* This allows the content to wrap to the next line */
  }
  
  .results-container .frame-info .page-table {
    flex: 1; /* This allows each table to grow and shrink equally */
    margin-right: 10px; /* Optional: Add spacing between tables */
  }
  
  h2{
    height: 10px;
  }